3. IT Copilot_ KB Ingestion & RAG Indexing.json
{
  "name": "3. IT Copilot: KB Ingestion & RAG Indexing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "7c55b251-942f-49b5-a8b3-f9e0f34bf275",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "15wk-bOBbXuZlnu5hXSAzcAyFGYveuOoA",
            "mode": "list",
            "cachedResultName": "IT-KB-PDFs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/15wk-bOBbXuZlnu5hXSAzcAyFGYveuOoA"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        0
      ],
      "id": "5eaf1e88-6068-4d02-9b70-d4af500e93fb",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vi27kvm36xl5PEgu",
          "name": "Owais Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        0
      ],
      "id": "3bc3e481-ab55-4e25-a878-4988e8af332e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vi27kvm36xl5PEgu",
          "name": "Owais Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -944,
        16
      ],
      "id": "d28ee931-4bc7-4156-8736-1a17eeb7dd59",
      "name": "When chat message received",
      "webhookId": "215e2b30-f066-4f9d-8689-8179702ce8c5"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "it-copilot",
          "mode": "list",
          "cachedResultName": "it-copilot"
        },
        "embeddingBatchSize": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        0
      ],
      "id": "7ba7297c-1b72-492b-80f7-7e25abb8974b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "a6e0ZDM6Nb0wcURU",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        208
      ],
      "id": "584e8a59-0363-48f6-9bd9-f0acc2d5e1f1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "rET3mGIfC9lnYpbH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -672,
        16
      ],
      "id": "452cb14f-3b37-4625-a516-b600bb8bd15c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -768,
        240
      ],
      "id": "11e62a4a-0fc9-4c89-8db6-e4337293d534",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rET3mGIfC9lnYpbH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        240
      ],
      "id": "59830cfa-d60a-4378-9237-e35d630b92c7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "User will ask about their IT issues and i want you to responds based on the PDFs troubleshooting documents.",
        "pineconeIndex": {
          "__rl": true,
          "value": "it-copilot",
          "mode": "list",
          "cachedResultName": "it-copilot"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -464,
        240
      ],
      "id": "ea3d65ad-e769-45c1-8ce3-6756106fa2fe",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "a6e0ZDM6Nb0wcURU",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        448
      ],
      "id": "dc44a7ab-962d-4378-835c-6b0fcb4dd806",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rET3mGIfC9lnYpbH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        192
      ],
      "id": "ff85022f-eb28-4289-a556-4966f14208cc",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8de8109-d8a6-4f75-b01c-7eeaaef4bd67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e129aa47cfdedbc3ef45950863cc5662b27491a78461404143bbe07d1f197e20"
  },
  "id": "bT84pZHy5Q5dcuCg",
  "tags": []
}